html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .45em;
  text-align: center;
}

div > a {
  padding: .525em .8em;
  border-radius: 8px;
  display: inline-block;
  border: 3px solid black;
  text-decoration: none;
  border-width: inherit;
}

.ghost-border {
  border-radius: 8px;
  border: 3px solid black;
}

.btn {
  font-size: 1.125rem;
  color: white;
  display: inline-block;
  background-color: #333;
}

.btn-small {
  font-size: .875rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-subtle {
  color: white;
  background-color: #ccc;
}

.btn-ghost {
  color: black;
  background-color: #fff;
}

.btn-warning {
  color: white;
  background-color: #f33;
}

.btn:hover {
  background-color: #000;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost:hover {
  background-color: #666;
}

.btn-warning:hover {
  background-color: #933;
}
